@charset "utf-8";
/* CSS Document */

        *{
            padding: 0;
            margin: 0;
        }
        body{
            background-color: #eee;
        }
        a{
            text-decoration: none;
        }
        a:link{
            color:black;
        }

        a:visited{
            color:black;
        }
        input{
            outline: none;
        }

        #container{
            width:100%;
            height: auto;
            position: relative;
            margin:0 auto;
        }
        #header{
            width:100%;
            height: 130px;
            position: absolute;
            left:0;
            top:0;
        }
        #header #logo{
			width:160px;
            height: 130px;
            position: absolute;
            left: 100px;
            top:0;    
        }
        #header #logo img{
            width:100%;
            height:100%;
        }

        #header #userNav{
            width:100%;
            height: 30px;
            background-color: #dcdcdc;
        }
        #header #userNav h3{
            line-height: 30px;
            margin-left: 265px;
            font-size: 14px;
			color:#666;
        }

        #header #userNav h3 a{
            font-size: 14px;
        }

        #header #userNav h3  #register{
            color: red;
        }
        #search form{
            width: 600px;
            height: 40px;
            float: left;
            position: absolute;
            left: 32%;
            top: 50px;
        }
        
		#search #searchBox{
            width: 88%;
            height: 100%;
            border:  1px solid red;
            padding-left: 5px;
            font-size:16px;
        }
        #search #searchButton{
            width: 12%;
            height: 100%;
            color: #fff;
            background-color: red;
            border:  1px solid red;
            margin-left: -5px;
            position: absolute;
            left: 90%;
            top: 0;
        }
        #nav{
            width: 100%;
            height: 30px;
            position: absolute;
            left: 0;
            top: 100px;
        }

        #nav ul{
            width:400px;
            height: 30px;
            list-style: none;
            margin-left: 267px;
        }
        #nav ul li{
            width:100px;
            height: 30px;
            border-radius:5px;
            text-align: center;
            line-height: 30px;
            float: left;
            margin-left: 5px;
            color: #1e90ff;
            border:1px solid #87cefa;
            padding-left: 5px;
        }
        #nav ul #downLi{
            position: absolute;
            left:562px;
            top:0;
        }

        #nav ul #upLi{
            width:180px;
            float: left;
        }


        #nav ul #upLi #uploadButton{
            width:100px;
            height: 32px;
            border-radius:5px;
            text-align: center;
            line-height: 30px;
            position: absolute;
            left:461px;
            top:0;
            color: #1e90ff;
            border:1px solid #87cefa;
            background-color: #eee;
        }
        #nav ul li a{
            display:block;
        }

        #content{
            width:100%;
            height: auto;
            position: absolute;
            left:0;
            top:130px;
            background-color: #0099FF;
        }
        #content #sideBar{
            width: 160px;
            height: 496px;
            margin-top:4px;
            position: absolute;
            left: 100px;
            top:0;
            background-color: #E0FFFF;
            z-index: 10;
            box-shadow: 0 0 2px 2px #ccc;
        }
        #content #sideBar ul{
            width:160px;
            height: auto;
            list-style: none;
        }
        #content #sideBar ul li{
            width:160px;
            height: 40px;
            text-align: center;
            line-height: 40px;
            padding: 10px 0;
            font-size: 20px;
            font-family: 幼圆;
        }

        #content #sideBar ul li a{
            display: block;
        }
        #content #sideBar ul li a:hover{
            border: 1px solid #00C5CD;
            background-color: #00C5CD;
            color: #fff;
        }
        #content #sideBar #capcity{
            width:116px;
            height:5px;
            background-color: rgba(255,50,157,0.16);
            position: absolute;
            left: 18px;
            top:435px;
         
        }
		
        #content #sideBar #rcaDiv{
            padding-top: 5px;
            font-family: "微软雅黑 Light";
            font-size: 15px;
			text-align:center;
			position: absolute;
            left: 18px;
            top:440px;
        }
        #main{
            width:70%;
            height: 496px;
            background-color: #fff;
            margin-left: 8px;
            margin-top:4px;
            opacity: 0.7;
            box-shadow: 0 0 2px 2px #ccc;
            position: absolute;
            left: 260px;
            top:0;
		
        }
		#main ul{
			width:100%;
			height:auto;
			border:0;
			position: absolute;
            left: 0;
            top:0%;
			list-style:none;
		}
		
		#main ul li{
			float:left;
			text-align:center;
		}
		#main #mainTb{
			width:100%;
			height:467px;
			position:absolute;
			left:0;
			top:6%;
			overflow:auto;
			overflow-x: hidden;
		
		}
		
		#main #mainTb table{
			width:100%;
			height:auto;
			border:0;
			position: absolute;
            left: 0;
            top:-1%;
		}
		
		#main #mainTb table img{
			width:20px;
			height:20px;
			position:relative;
			top:7px;
			left:0;
		}
		
		#main #t2{
			width:100%;
			height:auto;
			border:0;
			position: absolute;
            left: 0;
            top:96%;
		}
		
		
		
